* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.logo {
    width: 3rem;
    padding: 0;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    text-align: right;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

nav li a:hover {
    background-color: #555;
}

footer {
  display: flex;
justify-content: center; 
align-items: center; 
height: 150px;
color: white;
}

#destaque{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
    color: white;
}

.card{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
grid-template-columns: repeat(3, minmax(200px, 1fr));
color: rgb(255, 255, 255);
}

img{
    width: 400px;
    padding: 10px;
    background-color: purple;
    border-radius: 20px;
    
}

body{
    background-color: black;
}

h4{
    color: green;
}